body {
    background-color: #f9f0e8;
  }
  
  .search-box {
    background-color: #444;
    color: white;
    border-radius: 20px;
    padding: 20px;
  }
  
  .btn-custom {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }
  
  .btn-custom:hover {
    background-color: #ccc;
  }
  
  .nav-btn {
    border-radius: 25px;
    padding: 8px 20px;
    background-color: #000;
    color: white;
    font-weight: bold;
  }
  